.container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 40px;
}

.container img {
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.container p {
  max-width: 200px;
}
